.container {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .centered {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }